# Exemple de fichier .env.local
# Copiez ce fichier en .env.local et personnalisez selon vos besoins

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=changez-moi-avec-une-vraie-secret-key
###< symfony/framework-bundle ###

###> Database configuration ###
POSTGRES_VERSION=16
POSTGRES_DB=kubo
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass
###< Database configuration ###

